nav{
    width: 275px;
    height: 50px;
    border-radius: 1rem;
    position: fixed;
    top: 1vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background: rgba(0, 255, 217, 0.1);
}

.links{
    position: relative;
}

#l1{
    left: -110px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#l2{
    left: -50px;
}

#l3{
    left: -25px;   
}

#l2,#l3{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (min-width: 321px){
    nav{
        width: 300px;
    }
    #l1{
        left: -125px;
    }
    #l2{
        left: -75px;
    }
    #l3{
        left: -30px;
    }
}
