#bx1{
    border: none;
}

#canvas{
    width: 100%;
    aspect-ratio: 1;
    display: none;
}

#video{
    height: 100%;
    aspect-ratio: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
}

p{
    user-select: text;
    z-index: 5;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 25ch;
    text-align: center;
    overflow-wrap: break-word;
    position: absolute;
    top: 53%;
}

@media only screen and (min-width: 321px) {
    p{
        position: absolute;
        top: 55%;
    }
}

@media only screen and (min-width: 501px) {
    p{
        position: absolute;
        width: 30ch;
        top: 35%;
        left: 55.5%;
    }
}


