#bx1{
    border: none;
}

#canvas{
    width: 100%;
    aspect-ratio: 1;
    display: none;
}

#video{
    height: 100%;
    aspect-ratio: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
}

#bx3{
    display: none;
}

p{
    user-select: text;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    overflow-wrap: break-word;
}

@media only screen and (min-width: 500px){
    p{
        font-size: larger;
    }
}

@media only screen and (min-width: 769px){
    p{
        font-size: x-large;
    }
}

@media only screen and (min-width: 769px){
    p{
        width: 30ch;
    }
}





